div {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Lato', sans-serif;
    color:#5a0001;
}

a {
    color:#5a0001;
}

a:hover {
    color:#5a0001;
}

h1 {
	font-family: 'Kalam', cursive;
	}
/* 
    Vamos a dar un tamaño fijo de 960px a la página para que
    sea más senzillo calcular tamaños.
*/
#page-wrapper {
    width: 960px;
    border: 1px solid grey;
    margin: auto;
    left: 0;
    right: 0;
}
#header {
    color: white;
    background: #5a0001;
    padding: 15px 0 0 0;
}

#header h1 {
    margin-top: 0;
    margin-left: 15px;
    color: white
}

#navigation-links {
    background: white;
}

#navigation-links ul {
    margin: 0;
    padding: 10px;
}
#navigation-links li {
    display: inline
}

#navigation-links a {
    text-decoration: none;
    color: #FF3300;
    padding: 5px;
}

#navigation-links a.active {
    background: #FF3300;
    color: white
}

.logo img {
    max-width: 150px
}

#navigation-tabs{
	position: fixed;
	bottom: 0px; 
	background: white;
	height:50px; 
	border-top: 1px solid #FF3300;
    padding-bottom: 30px
}

#navigation-tabs a {
	text-decoration: none;
	padding: 10px;
	color: #FF3300;
	width: 100%
     }
#navigation-tabs a:hover {
	background: #FF3300;
	color: white;
	height:50px;
	border-radius: 0px
     }

     }
#navigation-tabs .active .badge {
    display: inline;
     } 
.badge {
    display: inline;
    color:#FF3300;
    background: white;
    border: 1px solid #FF3300
     } 

#navigation-tabs .active {
	background: #FF3300;
	color: white;
	height:50px;
	border-radius: 0px
     }
#navigation-tabs li {
    display: inline;
}

.menu-icon {
   text-align: center;
   margin:0 auto;
}

#carrousell {
    min-height: 600px;
background-image: url(img/slide.jpg);
background-position:center;
background-repeat:no-repeat;  
text-align: center;
width: 100%
}


#carrousell .buscar{
    margin-top: 10px; 
    margin-bottom: 0;
}

#carrousell .input-group{
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.value{
padding-bottom: : 20px;
text-align: center;
color: #5a0001;
}

.ilustration{
    height: 150px;
    background: #FF8162;
    margin-bottom: 15px;
}

.ilustration-big{
    height: 300px;
    background: #FF8162;
    margin-bottom: 15px;
}


h2{text-align: center;
	color: #FF3300
    }

.user {height: 50px;
    background: #ff8162;
    margin-bottom: 15px;
    border-radius: 250px;
	  }

footer {
    background: #FF3300;
    color: white;
    padding: 20px;
    margin-top: 60px;
	  }
     
footer img {width: 100% }

footer h4 {color: white}

ul li {list-style: none }


footer a:link, a:visited {

    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #ffc5b7;
    text-decoration: none

}
footer a{color: white
	}

.backgrey{background: #FF3300;
}


.margin-top-40 {
	margin-top: 40px
}

.margin-bottom-40 {
	margin-bottom: 40px
}

.margin-top-20 {
	margin-top: 20px
}

.margin-bottom-20 {
	margin-bottom: 20px
}

.margin-top-10{
	margin-top: 10px
}

.margin-bottom-10 {
	margin-bottom: 10px
}

.center {text-align: center
}

h4{color: #5a0001}

a p{color: black
}

.grey {background: #FF3300;
	color: white}

.carousel img {max-height: 300px;
                }

.carousel-caption {background: white;
                    width:100%;
                    color: black;
                    bottom:0px;
                    left: 0px;
                    right:0px;
                    text-shadow: none;
                }
.carousel-control {max-width: 50px;
                    border-radius: 100%;
                    max-height: 50px;
                    line-height: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                }
.carousel-control a {text-align: center;
    background-color: white;
    background-image: none;
                }

.carousel-control a span  {position: absolute;
    top: 10px;
    left: 20px;
     }

.nav-pills>li.active>a {background: #FF3300;}
.nav-pills>li.active>a:hover {background: #5a0001;}

.btn-primary {background: #FF3300;
border: none;
text-shadow: none}

.btn-primary:hover {background: #5a0001}

.action-button {position: fixed;
				bottom: 0px;
				background: white;
				z-index: 1;
			}

@media only screen and (max-width: 780px) {

	.action-button {
				bottom: 50px;

			}

}

.cesta img {margin-top:20px;
			max-height: 150px;
			max-width: 100%;
			}
.product-detail img {
			max-height: 400px;
			}
.productimage {
            width: 30%;
            display:inline-block;
            margin-left: 20px;
            }

@media only screen and (max-width: 780px) {

   .productimage {
                width: 80%;
            }

}

.product img {
	max-height: 165px;
}
.added{
   content: "Añadir"; 
}
.added:visited{
   content: "Añadido"; 
   background: blue;
}

.btn-group button, .btn-default{
	text-shadow: none;
	border-color: #FF3300;
	background: none;
	color:  #FF3300
}

.btn-default:hover {color:  #FF3300;
	background:#ffc5b7;
	border-color: #FF3300;
}

.form-control{border-color: #FF3300;}
.form-control:focus {border-color:#5a0001;}

.input-group .form-control {z-index:0;}
.input-group .form-control:focus {z-index:0;}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group, .input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover {z-index:0;}

/* 
    Estilo cesta
*/

.headerRow{
            display: none;
            }

.simpleCart_items {
    

}

.itemRow{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ccc;
}

.item-increment, .item-decrement{
                margin: 20px;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                color: #555;
                text-align: center;
                background-color: #eee;
                border: 1px solid #ccc;
                border-radius: 4px;
                }
.item-quantity{border:1px solid #FF3300;
                text-align: center;
                width: 50px
                }

.item-name {font-size: 24px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 500;
            line-height: 1.1;
            width: 100%;
}

@media only screen and (min-width: 780px) {

   .simpleCart_items { 
                    width: 50%;
                    margin-left:25%;
                            }

            }

.simpleCart_items td{ min-width: 20px;
                    height: 60px;
                    padding: 20px
}

.item-total {
            font-weight: 600;
}

.item-remove{
            font-weight: 800;
            background-color: #eee
}

/* 
    ocultar remove y poner cruz

.item-remove td{
        background-image: url("img/x.png")
            }


    ocultar remove y poner cruz
.item-remove a{
        content: "X";
        visibility:hidden;
            }
*/