div {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Kalam', cursive;
	}
/* 
    Vamos a dar un tamaño fijo de 960px a la página para que
    sea más senzillo calcular tamaños.
*/
#page-wrapper {
    width: 960px;
    border: 1px solid grey;
    margin: auto;
    left: 0;
    right: 0;
}
#header {
    color: white;
    background: #6b6b6b;
    padding: 15px 0 0 0;
}

#header h1 {
    margin-top: 0;
    margin-left: 15px;
}

#navigation-links {
    background: black;
}

#navigation-links ul {
    margin: 0;
    padding: 10px;
}
#navigation-links li {
    display: inline

}
#navigation-links a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#navigation-links a.active {
    background: #6b6b6b;
    border-radius: 5px;
}

#navigation-tabs{
	position: fixed;
	bottom: 0px; 
	background: white;
	height:50px; 
	border-top: 1px solid grey;
}

#navigation-tabs a {
	text-decoration: none;
	padding: 10px;
	color: grey;
     }
#navigation-tabs a:hover {
	background: grey;
	color: white;
	height:50px;
     }

#navigation-tabs .active {
	background: grey;
	color: white;
	height:50px;
     }
#navigation-tabs li {
    display: inline

}
.menu-icon {
   text-align: center;
   margin:0 auto;
}

#carrousell {
    min-height: 300px;
background: grey;  
text-align: center;
}


#carrousell .buscar{
    margin-top: 100px; 
    margin-bottom: 0;
}

#carrousell .input-group{
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.value{
padding-bottom: : 20px;
text-align: center;
color: white;
}

.ilustration{
    height: 150px;
    background: grey;
    margin-bottom: 15px;
}

.ilustration-big{
    height: 300px;
    background: grey;
    margin-bottom: 15px;
}

h2{text-align: center;
    }

.user {height: 50px;
    background: grey;
    margin-bottom: 15px;
    border-radius: 250px;
	  }

footer {min-height: 450px;
    background: grey;
    color: white;
    padding: 20px;
    margin-top: 20px;
	  }

ul li {list-style: none }


footer a:link, a:visited {
    background-color: grey;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
}
footer a{color: white
	}

.backgrey{background: grey;
}

.margin-top-20 {
	margin-top: 20px
}

.margin-bottom-20 {
	margin-bottom: 20px
}

.center {text-align: center
}

a p{color: black
}


